
body {

    color: brown;
    font-family: Arial, sans-serif;
}

#nav {
    background-color: bisque;
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    text-justify: auto;
}

.logo-nav {
    display: flex;
    align-items: center;
    background-color: bisque;
    justify-content: space-between;
    padding: 0cqh;
    margin: auto;

}

#logo {
    width: 50px;
    height: 50px;
}

.nav {
    margin-left: 20px;
    gap: 2px;
    text-align: justify;

}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin-left: 25px;
}

.nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

button {
    border: none;
    background-color: rgb(209, 46, 100);
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 20px;
}

input {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
}

.search {
    background-color: bisque;
    margin: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.location span {
    color: rgb(212, 35, 94);
}

.location {
    position: absolute;
    left: 260px;
}

main{
    background-color: antiquewhite;
}

h1{
    color: rgb(212, 35, 94);
}
